<div class="row mb-2">
    <div class="mb-10">
        <h2>
            <strong>Quản lý người dùng</strong>
        </h2>
    </div>
    <div class="col-md-10 mt-2 mb-2 mb-md-0">
        <input type="text" class="form-control" placeholder="Tìm kiếm...">
    </div>
    <div class="col-md-2  mt-2 d-flex justify-content-end">
        <a href="/user/add" class="btn btn-primary ">
            <i class="fa-solid fa-user-plus"></i>
            Thêm người dùng
        </a>
    </div>
</div>
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Mssv</th>
            <th>Họ tên</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <% for (let i=0; i < row.length; i++ ) { %>
            <tr>
                <td>
                    <p class="fw-normal mb-1">
                        <%= row[i].ID %>
                    </p>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ms-3">
                            <p class="fw-bold mb-1">
                                <%= row[i].username %>
                            </p>
                            <p class="text-muted mb-0">
                                <%= row[i].email %>
                            </p>
                        </div>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">
                        <%= row[i].phone %>
                    </p>
                </td>
                <td>
                    <% if (row[i].status==0) { %>
                        <p class="fw-normal mb-1">Đã khóa</p>
                        <% } else { %>
                            <p class="fw-normal mb-1">Đang hoạt động</p>
                            <% } %>
                </td>
                <td class="text-decoration-none">
                    <a type="button" class="btn btn-primary btn-sm btn-rounded text-decoration-none text-white" href="/user/update/<%= row[i].ID %>">
                        Chỉnh sửa
                    </a>
                    <% if (row[i].status===1) { %>
                        <form action="/user/unactive/<%= row[i].ID %>" method="POST" style="display:inline;"
                            onsubmit="return confirm('Bạn có chắc chắn muốn khóa người dùng này không?');">
                            <button type="submit"
                                class="btn btn-danger btn-sm btn-rounded text-decoration-none text-white">
                                Khóa
                            </button>
                        </form>
                        <% } else { %>
                            <form action="/user/active/<%= row[i].ID %>" method="POST" style="display:inline;"
                                onsubmit="return confirm('Bạn có chắc chắn muốn khóa người dùng này không?');">
                                <button type=" submit"
                                    class="btn btn-success btn-sm btn-rounded text-decoration-none text-white">
                                    Mở khóa
                                </button>
                            </form>
                            <% } %>
                </td>
            </tr>
            <% } %>
    </tbody>
</table>
</div>